## Code Test 대비 3일차

#### baekjoon > 1712

월드전자는 노트북을 제조하고 판매하는 회사이다. 노트북 판매 대수에 상관없이 매년 임대료, 재산세, 보험료, 급여 등 A만원의 고정 비용이 들며, 한 대의 노트북을 생산하는 데에는 재료비와 인건비 등 총 B만원의 가변 비용이 든다고 한다.

예를 들어 A=1,000, B=70이라고 하자. 이 경우 노트북을 한 대 생산하는 데는 총 1,070만원이 들며, 열 대 생산하는 데는 총 1,700만원이 든다.

노트북 가격이 C만원으로 책정되었다고 한다. 일반적으로 생산 대수를 늘려 가다 보면 어느 순간 총 수입(판매비용)이 총 비용(=고정비용+가변비용)보다 많아지게 된다. 최초로 총 수입이 총 비용보다 많아져 이익이 발생하는 지점을 손익분기점(BREAK-EVEN POINT)이라고 한다.

A, B, C가 주어졌을 때, 손익분기점을 구하는 프로그램을 작성하시오.

In [8]:
A = 1000
B = 70
C = 170

In [10]:
A = 3
B = 2
C = 1

In [12]:
A = 2100000000 
B = 9 
C = 10

In [15]:
# price = -A
# money = C-B
# num = 0

# if money <= 0:
#     print(-1)
# else :
#     while price <= 0:
#         price += money
#         num += 1

#     print(num)

In [14]:
price = A
money = C-B
if money <= 0:
    print(-1) # 노트북을 팔았을 때 수익이 없을 경우 return -1
else :
    # num * money >= price
    # num >= price/money
    if price%money == 0:
        print(price/money)
    else :
        print(price//money + 1)

2100000000.0

#### baekjoon > 1267

동호는 새악대로 T 통신사의 새 핸드폰 옴머나를 샀다. 새악대로 T 통신사는 동호에게 다음 두 가지 요금제 중 하나를 선택하라고 했다.

영식 요금제
민식 요금제
영식 요금제는 30초마다 10원씩 청구된다. 이 말은 만약 29초 또는 그 보다 적은 시간 통화를 했으면 10원이 청구된다. 만약 30초부터 59초 사이로 통화를 했으면 20원이 청구된다.

민식 요금제는 60초마다 15원씩 청구된다. 이 말은 만약 59초 또는 그 보다 적은 시간 통화를 했으면 15원이 청구된다. 만약 60초부터 119초 사이로 통화를 했으면 30원이 청구된다.

동호가 저번 달에 새악대로 T 통신사를 이용할 때 통화 시간 목록이 주어지면 어느 요금제를 사용 하는 것이 저렴한지 출력하는 프로그램을 작성하시오.

In [3]:
N = 3
calls = [40, 40, 40]
# answer
# 영식 20 + 20 + 20 = 60
# 민식 15 + 15 + 15 = 45
# result = M 45

In [4]:
import numpy as np
num = np.arange(calls)

TypeError: unsupported operand type(s) for -: 'list' and 'int'